form
{
	margin:0;
}

* 
{
	margin: 0;
}

html, body 
{
	font-size: 13px;
	font-family: Arial;
	color: #444;
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	color: #1a74ba;
}

a:hover
{
	text-decoration: underline;
}

div.main
{
	width: 385px;
	border: solid #e2e2e2 1px;
	padding: 15px;
	float: left;
	position: relative;
	background-color: #fff;
}


div.main div.head
{
	border-bottom: solid #eee 1px;
	margin-bottom: 18px;
	padding-bottom: 18px;
}

div.main div.head h2
{
	color: #2d81bd;
	font-weight:normal;
	font-size: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.2em;
	height: 2.4em;
}

div.main div.head span
{
	display: block;
	font-weight:normal;
	font-size: 12px;
	margin-top: 10px;
	overflow-y: scroll;
	line-height: 1.4em;
	height: 5.6em;
}

td.field
{	
	padding-right: 5px;
}

td.field_top
{
	vertical-align: top;
}

textarea, td.input input
{
	border: solid #ddd 1px;
	width: 268px;
}

td.submit
{
	text-align: center;
}

textarea
{
	height: 60px;	
}

table
{
	margin-bottom: 20px;
}

div.main img
{
	position: absolute;
	right: 15px;
	bottom: 5px;
	border: none;
}

div.main img.not_valid
{
	position: relative;
	right: 0;
	bottom: 0;
	float: right;
	margin-top: -20px;
}

div.old-ie-not-supported
{
	color: red;
}

div.externally-owned-disclimer
{
	font-size: 7.8px;
	color: #a9a9a9;
	width: 48%;
	padding-top: 20px;
	bottom: 10px;
	position: absolute;
	left: 15px;
}
